<footer class="rodape">
  <div class="rodape__frame01">
    <figure class="rodape__figure">
      <img src="../../../assets/imagens/Logo-branco 2.png" alt="">
    </figure>
    <div>
      <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
      <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
    </div>
  </div>
  <div class="rodape__frame02">
    <p>Acesse nossas redes:</p>
    <div class="rodape__frame03">
      <img src="../../../assets/icones/whatsapp.png" alt="icone do WhatApp">
      <img src="../../../assets/icones/instagram.png" alt="icone do instagram">
      <img src="../../../assets/icones/twitter.png" alt="icone do twitter">

    </div>
  </div>
</footer>
